.nav {
    grid-area: n;
    background-color: rgb(125, 159, 165);
    height: 200px;
    padding-left: 50px;
}

.item {
    margin: 15px 0;
    text-decoration: none;
}

.item a {
    text-decoration: none;
    color: white;
}

.item a.activeLink {
    color: black;
}