.image {
    width: 120px;
    height: 120px;
}
.button {
    width: 120px;
    height: 30px;
    background-color: #fcaa23;
    border: none;
}
.pageNumber {
    font-weight: bold;
    font-size: x-large;
}