.formControl {

}

.formControl.error input,
.formControl.error textarea {
    border: solid red 3px;
}

.formControl.error span {
    color: red;
}

.formSummeryError {
    border: red 1px solid;
    padding: 5px;
    color: #ec1e1e;
}